In [1]:
%load_ext autoreload
%autoreload 2

In [15]:

from util_date import *

In [ ]:
datestring_todatetime('Jun 1 2005  1:33PM', fmt=  '%b %d %Y %I:%M%p' )

In [3]:
datestring_todatetime(['Jun 1 2005  1:33PM'], fmt=  '%b %d %Y %I:%M%p' )

[datetime.datetime(2005, 6, 1, 13, 33)]

In [8]:
datelist = datestring_todatetime('Jun 1 2005  1:33PM', fmt=  '%b %d %Y %I:%M%p' ) 

datetime_tointhour(datelist )

20050601133300

In [6]:
datelist.minute

33

In [11]:
datetime_toint( datelist)

20050601

In [16]:
datetime_weekday(datelist ), datetime_weekday_fast(datelist )

(3, 3)

In [17]:
dd_weekday

{datetime.datetime(2005, 6, 1, 13, 33): 3}

In [20]:
11 //3 + 1

4

In [ ]:
"""
pandas.DataFrame.interpolate




"""